/*.navcoloring{
    background-color: green;
    color: black;
}*/
/* for the separation between H1 and I <div class="green-sparator"></div>*/
* .green-separator {
    width: 20px;
    height: 2px;
    background: #bfc933;
    margin: 10px auto;
    z-index: 10;
}

.d-block {
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

.w-100{
    width: 80%;
    
}

.container-width{
    width: 100%;
}
.carousel-indicators-text{
    position: absolute;
    z-index: 10;
    bottom: 20px;
    color: white;
    top: 40px;
    right: 146px;
    padding: 25px;
    float: left;
}

.carousel-indicators-text span{
    font-size: 12px;
}

.p-container-a-header{
    text-align: center;
    margin: 20px 0;
    padding: 10px;
}
.p-container-a{
    display: flex;  
}

.p-items{
    flex:1 1 100%;
    text-align: center;
    padding: 5px;   
}

.part3-button-container{
    padding: 5px;
    margin: 50px;
    text-align: center;
    background-color: rgba(173, 173, 173, );
}
.part3-button{
    padding: 10px;
    background-color: rgba(143, 207, 46, 1);
    color: white;
    border-color: transparent; 
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.p-container2{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(173, 173, 173, 0.3);
    
}

.p-container2 .nested-container{
flex: 1;
display: flex;
}
.p-container3{
    display: block;
    text-align: center;
    padding: 25px;
    margin: 20px;
}

.p-container3 .boxing{
    margin: -12px 20px 20px 20px;
    padding: 20px;
}
.tastimonials-color{
    background-color: rgba(0, 0, 0, 1);
    color: white;
}
@media all and (max-width:1000px) {

    .p-container-a{
        flex-flow: column wrap;
    }
}

@media all and (max-width:500px) {

    .carousel-indicators-text{
        bottom: 0;
        right: 0;
        top: 0;
        text-align: center;
    }
    .p-container-a{
        flex-flow: column wrap;
    }
}
